div#container #button-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px;
}

div#container #button-container .button {
    background-color: rgb(15, 15, 112);
    width: calc(100% - 40px);
    height: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}