ul#worldSelectList{
    margin: 0;
    list-style: none;
    padding: 0;
}
ul#worldSelectList li {
    background-color: rgb(15, 15, 112);
    margin-bottom: 10px;
}
ul#worldSelectList li a {
    color:white;
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    height:100px;
    display: block;
    padding: 20px;
}